<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/css/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
    <div class="video1">
        <div class="me"></div>
        <div class="you"></div>
    </div>
    <div class="ribbon">
        <i class="fa-solid fa-camera cam" id = "cam"></i>
        <i class="fa-solid fa-microphone mic" id = "mic"></i>
        <i class="fa-regular fa-face-smile smile" id = "smile"></i>
        <i class="fa-solid fa-phone end" id = "end"></i>
    </div>

    
    <script src="static/js/newfile.js"></script>
</body>
</html>